/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400&family=Permanent+Marker&display=swap");

/* Vars */
:root {
	/* Colors */
	/* ---- REMEMBER TO ADD NEW VARS TO ICON COMPONENT ALSO!!----*/
	--clr-black: #121212;
	--clr-off-white: #eaeaea;
	--clr-white: #ffffff;
	--clr-light-green: #a7c957;
	--clr-green: #6a994e;
	--clr-dark-green: #386641;
	--clr-darker-green: #315c3a;
	--clr-cream: #f2e8cf;
	--clr-red: #bc4749;
	--clr-dark-red: #a0393b;

	/* Spacing */
	--spc-header-height: 4rem;
	--spc-footer-height: 7rem;
	--spc-corner-radius: 0.5rem;
	--spc-gap: 0.5rem;

	/* Box shadow */
	--bx-shdw: 0 2px 0.2rem rgba(0, 0, 0, 0.25);
}

/* Globals */

html {
	background-color: var(--clr-off-white);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* transition-duration: 200ms; */
}

*:focus {
	transition-duration: 0s;
	outline: 2px solid #315c3abe;
}

*::selection {
	color: var(--clr-white);
	background-color: var(--clr-red);
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Permanent Marker", cursive;
}

p,
a,
li,
input,
textarea,
button {
	font-family: "Comic Neue", cursive;
}

/* Utils */

/* Buttons: This class styles is default button style, but can be applied to a link */
.btn {
	font-weight: bold;
	color: var(--clr-white);
	font-size: 1rem;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: var(--spc-corner-radius);
}

.btn-rnd {
	padding: 0;
	aspect-ratio: 1;
	border-radius: 50%;
}

.btn-green {
	background-color: var(--clr-dark-green);
}

.btn-red {
	background-color: var(--clr-red);
}

@media (hover: hover) {
	button,
	.btn:hover {
		cursor: pointer;
	}

	.btn-green:hover {
		background-color: var(--clr-darker-green);
	}

	.btn-red:hover {
		background-color: var(--clr-dark-red);
	}
}

/* Surfaces */

.srfc {
	border: 3px solid var(--clr-dark-green);
	padding: 2rem;
	border-radius: var(--spc-corner-radius);
	background-color: var(--clr-cream);
	box-shadow: var(--bx-shdw);
}

/* Text field */

.txt-inp {
	font-size: 1.2rem;
	width: 100%;
	padding: 0.5rem;
	border: 2px solid var(--clr-dark-green);
	border-radius: var(--spc-corner-radius);
}
